.list-item-info {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  font-size: 0.875rem;
}

.list-item-info span {
  width: 33%;
  margin-left: 10px;
}

.list-item-info--passive {
  color: #919191;
}

.list-item-info__name {
  font-weight: 600;
  font-size: 1rem;
}

.list-item-info__cuisine {
  font-style: italic;
}

.list-item-info__cuisine .fa-icon {
  margin-right: 10px;
  display: inline-block;
}
