.list-item__info {
  padding: 10px 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap;
  border: 1px solid #e5e5e5;
  border-bottom: none;
}

.list-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.list-item:nth-child(odd) {
  background-color: #fcfcfc;
}

.list-item.list-item--selected {
  background-color: #e5e5e5;
}

.list-item__info span {
  width: 33%;
}
