.App {
  width: 100%;
  background-color: #fcfcfc;
}

.loading {
  display: block;
  width: 100%;
  margin: 100px auto;
  text-align: center;
  font-size: 3rem;
  color: #919191;
}

.widget {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #cecece;
  border-radius: 3px;
  background-color: #fff;
}
