.desktop-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.desktop-list__list.widget {
  margin: 10px;
}

.desktop-list .list-item-info {
  padding: 10px 15px;
}

.desktop-list__list--selected.widget,
.desktop-list__details--open .widget {
  margin: 10px 0;
}

.desktop-list__list {
  width: 100%;
}

.desktop-list__list--selected {
  max-width: 58%;
}

.desktop-list__details--open {
  max-width: 38%;
}
